:root {
  font-family: "Roboto, sans-serif";
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f3f5f6;
  /* background-color: #f33; */
}

/* CUSTOM SCROLL BAR */

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #2c4b807c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2c4b80;
}
